* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Chewy', Arial, sans-serif;
  background-image: url('Fundo.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

h1 {
  font-family: 'Abril Fatface', serif;
  font-size: 3.0em;
  margin-bottom: 0.5em;
}

h2 {
  font-family: 'Allura', cursive;
  font-size: 2.5em;
  font-weight: normal;
}

main {
  width: 100%;
  max-width: 800px;
}

.tema1 {
  background-color: #FFCFB6;
  border: 2px solid #D95A17;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.5s ease, background-color 0.5s ease;
  cursor: pointer;
}

.tema1:hover {
  transform: scale(1.05);
  background-color: #FFD9C4;
}

.tema1 h3 {
  font-family: 'Chewy', Arial, sans-serif;
  color: #333;
  margin-bottom: 10px;
  font-size: 35px;
  text-align: center;
}

.tema1 p {
  font-family: 'Chewy', Arial, sans-serif;
  color: #333;
  font-size: 25px;
}

.tema {
  background-color: #EEFBEA;
  border: 2px solid #99BB6E;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.5s ease, background-color 0.5s ease;
  cursor: pointer;
}

.tema:hover {
  transform: scale(1.05);
  background-color: #E6F7DA;
}

.tema h3 {
  font-family: 'Chewy', Arial, sans-serif;
  color: #333;
  margin-bottom: 10px;
  font-size: 35px;
  text-align: center;
}

.tema p {
  font-family: 'Chewy', Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

/* Responsividade */
@media (max-width: 768px) {
  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.4em;
  }

  .tema, .tema1 {
    padding: 15px;
  }
}
/* Ocultar todas as seções inicialmente */
.content-section {
  display: none;
}
button {
  padding: 10px 20px;
  margin: 20px 10px;
  font-family: 'Chewy', Arial, sans-serif;
  font-size: 20px;
  color: #333;
  background-color: #EEFBEA;
  border: 3px solid #99BB6E;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

button:hover {
  background-color: #FFCFB6;
  border: 3px solid #D95A17;
  transform: scale(1.05);
}

button:active {
  background-color: #3e8e41;
  transform: scale(0.95);
}
.content-section {
  padding: 10px 20px;
  font-family: 'Chewy', Arial, sans-serif;
  color: #333;
  background-color: #EEFBEA;
  border: 3px solid #99BB6E;
  border-radius: 10px;
  
  transition: background-color 0.5s ease, transform 0.5s ease;
  text-align: center;
}

.content-section h3 {
  font-size: 30px;
  padding: 15px 10px;
}
.content-section p {
  font-size: 23px;
}

.vet-profiles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  justify-content: center; /* Centraliza os perfis na div principal */
}

.vet-profile {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  flex-basis: 200px; /* Define uma largura inicial ajustável */
  text-align: center;
  align-items: center;
  transition: background-color 0.5s ease, transform 0.5s ease;
  border: 3px solid #99BB6E;
  border-radius: 10px;
}


.vet-profile img {
  width: 100%;
  height: auto;
  border-radius: 50%; /* Torna a imagem redonda */
  margin-bottom: 10px;
  border: 4px solid #D95A17;
}

.vet-info h4 {
  font-size: 1.2em;
  margin: 8px 0;
}

.vet-info p {
  font-size: 0.9em;
  color: #555;
}
.vet-profile:hover {
  transform: scale(1.08);
}

a i.bx {
  font-size: 60px; /* Tamanho do ícone */
  color: #D95A17;
  transition: color 0.3s ease; /* Animação para hover */
}

a:hover i.bx {
  color: #99BB6E;
  cursor: pointer;


}

.articles-profiles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  justify-content: center; /* Centraliza os perfis na div principal */
}


.article-profile {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 20px;
  padding: 16px;
  flex-basis: 200px; /* Define uma largura inicial ajustável */
  text-align: center;
  align-items: center;
  transition: background-color 0.5s ease, transform 0.5s ease;
  border: 3px solid #99BB6E;
  border-radius: 10px;
}


.article-info h4 {
  font-size: 1.2em;
  margin: 8px 0;
}

.article-info p {
  font-size: 0.9em;
  color: #555;
  margin: 20px 10px;
  padding: 20px 10px;
}
.article-profile:hover {
  transform: scale(1.08);
}







.experience-profiles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  justify-content: center; /* Centraliza os perfis na div principal */
}


.experience-profile {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 20px;
  padding: 16px;
  flex-basis: 200px; /* Define uma largura inicial ajustável */
  text-align: center;
  align-items: center;
  transition: background-color 0.5s ease, transform 0.5s ease;
  border: 3px solid #99BB6E;
  border-radius: 10px;
  
}


.experience-info h4 {
  font-size: 1.2em;
  margin: 8px 0;
}

.experience-info p {
  font-size: 0.9em;
  color: #555;
  margin: 20px 10px;
  padding: 20px 10px;
}
.experience-profile:hover {
  transform: scale(1.08);
}

.experience-profile img {
  width: 100%;
  height: auto;
  border-radius: 80%; /* Torna a imagem redonda */
  margin-bottom: 10px;
  border: 4px solid #D95A17;
  display: flex;
  
}

.experience-info h3 {
  font-size: 1.5em;
  margin: 8px 0;
}

/* Novo container para as imagens dentro do perfil */
.experience-images {
  display: flex;
  justify-content: center; /* Centraliza as imagens */
  gap: 15px; /* Espaço entre as imagens */
  margin-bottom: 10px; /* Espaço entre as imagens e o restante do conteúdo */
}

/* Estilo para as imagens dentro do novo container */
.experience-images img {
  width: 170px; /* Ajusta o tamanho das imagens */
  height: auto;
  border-radius: 50%; /* Torna as imagens redondas */
  border: 4px solid #D95A17; /* Borda para as imagens */
}
/* Container da seção para definir largura máxima */
#snoopyDetails {
  max-width: 100%; /* Limita a largura para 100% do contêiner pai */
  margin: 0 auto; /* Centraliza a section */
  padding: 20px; /* Adiciona espaçamento interno */
  box-sizing: border-box; /* Garante que padding e border sejam inclusos no cálculo da largura */
}

/* Estilo para o container das imagens */
.experience-images {
  display: flex;
  flex-wrap: wrap;  /* Permite que as imagens se ajustem em várias linhas */
  justify-content: center; /* Centraliza as imagens */
  gap: 15px; /* Espaçamento entre as imagens */
  overflow: hidden; /* Impede que as imagens saiam do container */
}

/* Estilo para as imagens */
.experience-images img {
  max-width: 230px; /* Faz a imagem se ajustar à largura do container */
  height: auto; /* Mantém a proporção original da imagem */
  object-fit: cover; /* Ajusta a imagem sem distorcer */
  max-height: 300px; /* Limita a altura máxima das imagens para 300px, se necessário */
  margin-bottom: 10px; /* Adiciona espaçamento entre as imagens */
  box-sizing: border-box; /* Garante que o padding e as bordas sejam incluídos nas dimensões */
}

/* Estilo para o <figure> que contém a imagem */
.princesa-image {
  width: 100%;  /* Ajusta o tamanho do container */
  max-width: 400px; /* Limita o tamanho da imagem a 400px de largura */
  margin: 0 auto; /* Centraliza o figure */
  padding: 10px; /* Adiciona um padding ao redor da imagem */
  border: 2px solid #ddd; /* Adiciona uma borda leve */
  border-radius: 10px; /* Bordas arredondadas */
}

/* Estilo para a imagem específica */
.princesa-image img {
  width: 100%;  /* Faz a imagem ocupar toda a largura do container */
  height: auto; /* Mantém a proporção da imagem */
  object-fit: cover; /* Faz com que a imagem se ajuste ao container sem distorcer */
  border-radius: 8px; /* Bordas arredondadas na imagem */
}

.spike-image img {
  width: 400px;  /* Faz a imagem ocupar toda a largura do container */
  border-radius: 50%; /* Bordas arredondadas na imagem */
}

.spike-image-gordo img {
  width: 400px;  /* Faz a imagem ocupar toda a largura do container */
  border-radius: 30%; /* Bordas arredondadas na imagem */
}